
<div class="card" style="width: 25rem;">
    <div class="card-body">
      <h5 class="card-title">{{ article.title }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ article.votes }}  Points</h6>
      
      <p class="card-text">role: {{article.role}}</p>

      <div class="card-text" >
        <a href="{{ article.link }}">({{ article.domain() }})</a>
      </div>

      <a class="btn btn-danger" (click)="voteUp()">upvote</a> 
      &nbsp;
      <a class="btn btn-success" (click)="voteDown()">downvote</a> 
      &nbsp;

      <a *ngIf="article.role == 'administrator'" >
        <a class="btn btn-warning" (click)="flagArticle()">flag</a>
      </a>

    </div>
  </div>

<!--
<div class="four wide column center aligned votes">
    <div class="ui statistic">
        <div class="value">
            {{ article.votes }}
        </div>
        <div class="label">
            Points
        </div>
    </div>
</div>
<div class="twelve wide column">
    <a class="ui large header" href="{{ article.link }}">
        {{ article.title }}
    </a>

    <div class="mate"> ({{ article.domain() }}) </div>

    <ul class="ui big horizontal list voters">
      <li class="item">
        <a href (click)="voteUp()">
          <i class="arrow up icon"></i>
            upvote 
        </a>
      </li>
      <li class="item"> 
        <a href (click)="voteDown()">
          <i class="arrow down icon"></i>
          downvote
        </a>
      </li>
    </ul>
</div>
-->

